flow Capstone.json
[
    {
        "id": "15c00e3e43886eb3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d8dd30d2cd6e47d",
        "type": "mqtt in",
        "z": "15c00e3e43886eb3",
        "name": "",
        "topic": "sensor/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "afeed006d54bcbac",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "098c47dfae2a16a2",
                "f350ff1537ceeeb0",
                "4edcc8531dfd7cd2"
            ]
        ]
    },
    {
        "id": "fc28b0306a802dab",
        "type": "ui_chart",
        "z": "15c00e3e43886eb3",
        "name": "",
        "group": "cec2112eeb2d6a0f",
        "order": 0,
        "width": "6",
        "height": "5",
        "label": "Grafica de conteos",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "500",
        "removeOlder": "8",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 590,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f350ff1537ceeeb0",
        "type": "ui_text",
        "z": "15c00e3e43886eb3",
        "group": "5873c50afb7686bb",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Conteo de Tablas",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "098c47dfae2a16a2",
        "type": "json",
        "z": "15c00e3e43886eb3",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "fc28b0306a802dab"
            ]
        ]
    },
    {
        "id": "4edcc8531dfd7cd2",
        "type": "debug",
        "z": "15c00e3e43886eb3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 80,
        "wires": []
    },
    {
        "id": "b61c35fd875c1194",
        "type": "ui_date_picker",
        "z": "15c00e3e43886eb3",
        "name": "",
        "label": "date",
        "group": "93e22c13fc93473f",
        "order": 0,
        "width": "3",
        "height": "2",
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "afeed006d54bcbac",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cec2112eeb2d6a0f",
        "type": "ui_group",
        "name": "Grafica",
        "tab": "3285dd8ad25bb4d9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5873c50afb7686bb",
        "type": "ui_group",
        "name": "Estado",
        "tab": "3285dd8ad25bb4d9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "93e22c13fc93473f",
        "type": "ui_group",
        "name": "Calendario",
        "tab": "3285dd8ad25bb4d9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3285dd8ad25bb4d9",
        "type": "ui_tab",
        "name": "Estado de Cortadora",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]